<!--Contact Page-->
<section id="contact">
    <div class="site-box">
      <p class="follow-text"> Follow us on</p>
      <a href="https://www.instagram.com/_iam_chinmay/" target="_blank"><img src="images/instagram.png" class="socialsite-img"></a>
      <a href="https://wa.me/+917413005567?text=Welcome To Indian Express" target="_blank"><img src="images/whatsapp.png" class="socialsite-img"></a>
      <a href="https://www.facebook.com/profile.php?id=100080058025905" target="_blank"><img src="images/facebook.png" class="socialsite-img"></a>
      <br><br>
      <hr><br>
      <p class="copyright">@Copyright 2022 - Design and Developed By Chinmay Jain</p>
    </div>
    
  </section> 
  <!-- Script Bootstrap-->
  <script src="js/bootstrap.bundle.min.js"></script>
  
</body>
</html>